<div class="row">
  <div class="col-xxl-6">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-6">
    <div class="row">
      <div class="col-md-12">
        <nb-card style="height: 585px;">
          <nb-card-header>Console Errors</nb-card-header>
          <nb-card-body>
            <ngx-echarts-pie></ngx-echarts-pie>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <ngx-country-orders></ngx-country-orders>
  </div>
</div>
